h1{
  color:#7a1622;
  font-size: 3rem;
  font-weight: 900;
  text-align: center;
}

h2{
  color:#7a1622;
  font-size: 2.5rem;
  font-weight: 800;
  padding :5px 20px;
}


p {
  padding :10px 60px;
  text-align: justify;
  font-size: 2rem;
}
