<body>
  <h1>Condizioni</h1>
  <p>Le condizioni di recesso e rimborso per una prenotazione con la nostra agenzia di viaggi siciliana sono
    progettate per garantire una certa flessibilità ai nostri clienti, tenendo conto delle diverse esigenze e
    situazioni che possono verificarsi prima o durante un viaggio. Tuttavia, è importante notare che le
    politiche di recesso e rimborso possono variare in base al tipo di prenotazione, al periodo di preavviso e
    alle condizioni contrattuali specifiche associate a ciascun servizio o prodotto prenotato. Di seguito,
    forniamo una panoramica delle condizioni generali che applichiamo, ma si prega di consultare le condizioni
    specifiche del proprio contratto di prenotazione per dettagli precisi:
  </p>

  <h2> Politica di recesso entro un certo periodo: </h2>
  <p>Per alcune prenotazioni, offriamo un periodo di recesso durante il quale è possibile annullare senza penali.
    Questo periodo varia a seconda del tipo di prenotazione e della disponibilità dei servizi. Tali condizioni
    saranno chiaramente specificate al momento della prenotazione.</p>

  <h2>Politica di cancellazione: </h2>
  <p>Una volta scaduto il periodo di recesso, le condizioni di cancellazione possono variare a seconda del servizio
    o del prodotto prenotato. Alcuni servizi possono prevedere penali di cancellazione crescenti in base alla
    vicinanza della data di viaggio, mentre altri possono essere non rimborsabili in caso di cancellazione.</p>

  <h2>Modifiche e cambiamenti: </h2>
  <p>In molti casi, è possibile apportare modifiche alle prenotazioni, come cambi di date o di destinazione, previa
    disponibilità e previa eventuale applicazione di costi aggiuntivi. Tuttavia, le modifiche sono soggette alle
    condizioni di recesso specifiche del servizio prenotato.</p>

  <h2>Assicurazione viaggio:</h2>
  <p> Raccomandiamo vivamente l'acquisto di un'assicurazione viaggio, che può coprire spese inaspettate dovute a
    cancellazioni, interruzioni di viaggio, problemi di salute o altre situazioni impreviste. L'assicurazione
    viaggio può variare in base alla copertura desiderata e alle condizioni specifiche della polizza.</p>

  <h2>Forza maggiore:</h2>
  <p>In casi eccezionali come eventi naturali catastrofici, crisi sanitarie globali o situazioni di forza maggiore,
    potremmo dover apportare modifiche alle prenotazioni o alle date di viaggio. In questi casi, faremo del nostro
    meglio per trovare soluzioni alternative o offrire rimborsi parziali o completi, a seconda della situazione
    e delle politiche dei fornitori di servizi coinvolti.</p>

  <h2>Rimborsi parziali:</h2>
  <p>In alcuni casi, potremmo essere in grado di offrire rimborsi parziali a condizioni specifiche. Questi
    rimborsi possono variare in base al tempo trascorso dalla prenotazione, alle penali applicate dai fornitori
     e alle condizioni contrattuali.</p>

  <h2>Procedure di richiesta di rimborso:</h2>
  <p> Per richiedere un rimborso, è necessario contattarci tempestivamente e fornire tutti i dettagli richiesti.
    Le procedure di richiesta di rimborso possono variare a seconda del servizio prenotato e delle politiche
    dei fornitori.</p>


  <h2>Cancellazioni dell'agenzia: </h2>
  <p> In circostanze eccezionali o impreviste, potremmo essere costretti a cancellare una prenotazione. In questo
    caso, faremo del nostro meglio per offrire soluzioni alternative o rimborsi completi ai nostri clienti.</p>

  <h2>Condizioni specifiche dei fornitori:</h2>
  <p>È importante notare che le condizioni di recesso e rimborso possono variare a seconda dei fornitori di servizi,
    come hotel, compagnie aeree, tour operator, ecc. Pertanto, tali condizioni seguiranno le politiche dei fornitori
    in caso di prenotazioni specifiche.</p>


  <p>In conclusione, la nostra agenzia di viaggi siciliana si impegna a fornire ai clienti un servizio di alta qualità
    e una flessibilità ragionevole per quanto riguarda le condizioni di recesso e rimborso. Tuttavia, è fondamentale
    leggere attentamente le condizioni contrattuali specifiche associate a ciascuna prenotazione e considerare
    l'acquisto di un'assicurazione viaggio per proteggere i propri investimenti in caso di imprevisti. Restiamo a
    disposizione per fornire ulteriori dettagli e assistenza personalizzata in base alle vostre esigenze specifiche.
  </p>

  <button class="btn btn-danger shadow p-4 mb-2"  [routerLink]="['/prenotazione']">Ritorna Indietro</button>
</body>
