<div class="col-12 col-md-6 p-5 m-0 h-100 w-100">
  <div class="row m-0 h-100">

    <div class="landing col-9 h-100">
      <h1>Sicil Travel</h1>
      <h3 class="slogan">Explore the World with Us!</h3>
      <p>La raccolta sistematica di Città e luoghi d’interesse della Sicilia vuole essere il
        riconoscimento dell’intensa attività turistica di Angelo Schembri durante un ventennio
        che l’ha visto impegnato non soltanto in Sicilia, ma anche in altre regioni d’Italia.
        In particolare il riferimento va alla Sicilia per la sua importanza storico-culturale che
        riveste nell’ambito nazionale. Le numerose notizie raccolte costituiscono una presentazione
        del territorio isolano che consente di conoscerne le bellezze naturali ed artistiche utili
        per una promozione turistica di prim’ordine.Alle città seguono i siti archeologici che
        testimoniano la passione che lo stesso ha nutritoper l’archeologia fin da ragazzo. Angelo
        Schembri ha proposto sempre un turismo culturale ed ha il merito di averlo reso possibile,
        confortato dall’apprezzamento di coloro che hanno seguito i suoi innumerevoli programmi.
      </p>
      <p>
        La Sicilia rientra a pieno titolo nella programmazione di un’attività turistica che la rende
        appetibile alla moltitudine di persone che dedicano il loro tempo alla scoperta dei beni
        culturali, a conferma dell’interesse che essi hanno nel tessuto sociale. Il suo ricco patrimonio
        storico-culturale non finirà di sorprendere il visitatore che intende scoprire le varie culture
        che si sono avvicendate nel tempo, lasciando tracce importanti che ancora oggi si possono
        ammirare: sono testimonianze del passato che suscitano emozioni indescrivibili. È innegabile la
        ricchezza di una terra, quella della Sicilia, che, dopo secoli di dominazioni di vari popoli,
        rimane pur sempre caratterizzata da un’esperienza all’insegna di una cultura pluralista di
        eccezionale valore umanitario riconosciuta da tutti come elemento che riunisce in sé tradizioni
        che sopravvivono nel tempo.

      </p>

      <img src="assets/bild/Concordia.jpg" alt="Concordia.">
    </div>
    <div class="col-3 h-100">
      <div class="card p-5">
        <button class="btn btn-warning shadow my-5" [routerLink]="['login']">LOGIN</button>
        <button class="btn btn-warning shadow" [routerLink]="['register']">REGISTER</button>
      </div>
    </div>



  </div>
</div>
