  <div class="corpo">

    <div class="col-12 h-100">

      <header>
        <nav>

             <div>
           <img src="assets/bild/sicily.png" alt="Sicily" height="50px">

        <ul class="d-flex justify-content-between">
          <li class="nav-item"><a class="nav-link" href="https://www.expedia.it/Destinazioni-In-Sicilia.d6048323.Destinazioni-hotel" title="Hotel">Hotel</a></li>
          <li class="nav-item"><a class="nav-link" href="https://siciliadagustare.com" title="Ristoranti">Ristoranti</a></li>
          <li class="nav-item"><a class="nav-link" href="https://www.aeroporto.catania.it" title="Aeroporto ">Aeroporto Catania</a></li>
          <li class="nav-item"><a class="nav-link" href="https://www.portoturisticolicata.com/it/" title="Aeroporto ">Porto Licata</a></li>
          <li class="nav-item"><a class="nav-link" href="https://www.gbviaggi.it/blog/consigli-di-viaggio/siti-unesco-sicilia" title="Unesco">Unesco</a></li>
          <li class="nav-item"><a class="nav-link" href="https://beborghi.com/weekend-sicilia-dove-andare/" title="Borghi">Borghi</a></li>
        </ul>
       </div>

      </nav>
      </header>

          <div class="row p-5 ">

              <div class="col-lg-8 col-12 partesx ">
                <h1>Sicily Travel</h1>
                <h3>Explore the World with Us!</h3>
              </div>

              <div class="col-12 col-lg-4 partedx ">
                <div class="card p-3 ">
                  <button class="btn btn-danger shadow mb-2 " [routerLink]="['login']">LOGIN</button>
                  <button class="btn btn-danger shadow" [routerLink]="['register']">REGISTER</button>
                </div>
              </div>

          </div>

           <div class="row">

            <div class=" col-12 col-xxl-7 ">

              <video  controls>
                <source src="assets/video/sicily.mp4" type="video/mp4">
              </video>
            </div>
            <!-- video -->

            <div class=" col-12 col-xxl-5 ">
              <p>La raccolta sistematica di Città e luoghi d’interesse della Sicilia vuole essere il
                riconoscimento dell’intensa attività turistica di Angelo Schembri durante un ventennio
                che l’ha visto impegnato non soltanto in Sicilia, ma anche in altre regioni d’Italia.
                In particolare il riferimento va alla Sicilia per la sua importanza storico-culturale che
                riveste nell’ambito nazionale. Le numerose notizie raccolte costituiscono una presentazione
                del territorio isolano che consente di conoscerne le bellezze naturali ed artistiche utili
                per una promozione turistica di prim’ordine.Alle città seguono i siti archeologici che
                testimoniano la passione che lo stesso ha nutritoper l’archeologia fin da ragazzo. Angelo
                Schembri ha proposto sempre un turismo culturale ed ha il merito di averlo reso possibile,
                confortato dall’apprezzamento di coloro che hanno seguito i suoi innumerevoli programmi.
                La Sicilia rientra a pieno titolo nella programmazione di un’attività turistica che la rende
                appetibile alla moltitudine di persone che dedicano il loro tempo alla scoperta dei beni
                culturali, a conferma dell’interesse che essi hanno nel tessuto sociale. Il suo ricco patrimonio
                storico-culturale non finirà di sorprendere il visitatore che intende scoprire le varie culture
                che si sono avvicendate nel tempo, lasciando tracce importanti che ancora oggi si possono
                ammirare: sono testimonianze del passato che suscitano emozioni indescrivibili. È innegabile la
                ricchezza di una terra, quella della Sicilia, che, dopo secoli di dominazioni di vari popoli,
                rimane pur sempre caratterizzata da un’esperienza all’insegna di una cultura pluralista di
                eccezionale valore umanitario riconosciuta da tutti come elemento che riunisce in sé tradizioni
                che sopravvivono nel tempo.

              </p>
            </div>
            <!-- testo -->
           </div>

           <div class="row">
              <div class=" col-12 ">
              <p>Le città ed i siti archeologici della raccolta sono interessanti per la loro peculiarità ed
              evidenziano l’aspetto che più merita attenzione: contenuto di informazioni utili per il
              visitatore. Le località isolane sono descritte in breve e forniscono informazioni di facile
              comprensione al fine di rendere possibile una scelta del programma. Angelo Schembri ha svolto
              con amore e passione un lavoro che ha sempre considerato una missione, dovendo comunicare valori
              culturali e religiosi di rilevante importanza per la crescita delle persone, bisognose di essere
              aiutate nella loro formazione individuale. Il suo rapporto con loro è stato sempre cordiale e
              rispettoso e questo lo ha reso accettabile a tutti con il conforto della loro stima. L’attività
              turistica da lui svolta è stata importante per le sue finalità e per l’opportunità di
              contribuire alla crescita di persone di varia estrazione sociale. Dall’analisi della raccolta
              emerge un interesse per la storiografia generale, la storia dell’arte e l’archeologia che
              sintetizzano le località che sono l’oggetto della loro descrizione. I dati essenziali sono
              descritti con rigore scientifico ed anche le immagini hanno la loro importanza nel contesto dei
              beni culturali proposti con dovizia di notizie. Le città-capoluoghi di provincia e molte città
              di loro appartenenza sono elencate, insieme ai siti archeologici di pertinenza, nella raccolta
              con riferimenti storici e logistici che mettono in evidenza l’importanza che le contraddistingue,
              considerando gli aspetti essenziali. Non tralasciando aspetti secondari interessanti, si distinguono
              particolari di facile individuazione per descriverne l’appartenenza. Città e siti archeologici
              dispongono di notizie storiche che arricchiscono il contenuto delle schede di presentazione ed
              indicano i monumenti di interesse da visitare. Da ultimo, non per importanza, si rileva la
              molteplicità delle informazioni che, in alcuni casi, completano le descrizioni a supporto dei
              beni culturali proposti al visitatore interessato. In definitiva la compilazione delle schede
              ha un valore inestimabile che consiste nella descrizione essenziale, ma necessaria, affinché la
              promozione turistica risulti efficace per il buon esito sperato. Il lavoro di lunghi anni ha
              ottenuto risultati eccellenti e la conoscenza di molte località della Sicilia ha soddisfatto il
              programmatore d’eccezione che con il suo entusiasmo ha coinvolto numerose persone che hanno scoperto
              un’isola da amare e portare nel cuore per il fascino indiscutibile che le ha sedotto ed incantato.
              L’augurio è quello che l’Isola del sole possa migliorare la sua promozione turistica ed offrire
              servizi eccezionali che risultino sempre più adeguati all’importanza che essa riveste nel settore dei
              beni culturali, eredità del passato glorioso di civiltà succedutesi con continuità dai Sicani ai Siculi,
              agli Elimi, ai Morgeti, ai Fenici prima e Cartaginesi poi, ai Greci, ai Romani, ai Bizantini, agli Arabi,
              ai Normanni, agli Svevi, agli Angioini, agli Aragonesi fino ai nostri giorni.
                 </p>

           </div>

        <footer>
          <p>Angelo Schembri&copy; Copywriter     ---     Vincenzo Schembri&copy; Web Full-Stack Developer
          <br>Sicily Travel - Corso Roma n.12 - Licata. P.IVA 42624839.
            <a href="mailto:info@epicode.school" title="info">vinkentskembri@gmail.com</a>
           </p>
        </footer>

    </div>

    </div>
    <!-- corpo -->


