<p>spiaggie works!</p>

<div class="container-fluid">

  <div class="col-12 text-center"><h3>GESTIONE COMUNI</h3></div>
  <div class="col-4 p-3" *ngFor="let spiaggia of spiaggie">
    <div class="card" >
      <div class="card-body">
        <h5 class="card-title">{{ spiaggia.idSpiaggia }} - {{ spiaggia.nome }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          {{ spiaggia.lunghezzaMetri }}
        </h6>

        <div>
          <p></p>
        <div>
            <button (click)="put(spiaggia.idSpiaggia)" >Aggiungi spiaggia alla Prenotazione </button>
        </div>
        <p></p>
        <div>
          <button [routerLink]="['/spiaggia/' + spiaggia.idSpiaggia]">Vai aidettagli del comune</button>
        </div>
        <p></p>
      </div>


    </div>

  </div>
</div>
</div>


<div>
  <button [routerLink]="['/prenotazione']">Concludi la Prenotazione</button>
</div>
<p></p>
<div>
  <button [routerLink]="['/ristorante']">Prenota un ristorante</button>
</div>
