<body>
  <div class="container-fluid">
  <div class="row">

  <div class="col-12 text-center"><h3>LISTA SPIAGGIE</h3></div>

  <div class="col-md-6 col-lg-4 p-3" *ngFor="let spiaggia of spiaggie">
    <div class="card" >
      <div class="card-body">
        <img [src]="spiaggia.urlFotoSpiaggia" alt="foto">
        <h5 class="card-title p-2 mb-2"> Spiaggia :  {{ spiaggia.nome }}</h5>
        <h5 class="card-subtitle p-2 mb-2 ">Lunghezza {{ spiaggia.lunghezzaMetri }}</h5>
      </div>

    <div>
    <div>
      <button class="btn btn-danger shadow p-2 mb-2" (click)="put(spiaggia.idSpiaggia)" >Aggiungi Spiaggia  </button>
    </div>
        <p></p>
    <div>
      <button class="btn btn-danger shadow p-2 mb-2" [routerLink]="['/spiaggia/' + spiaggia.idSpiaggia]">Dettagli della Spiaggia</button>
    </div>
    </div>

    </div>

   </div>

   </div>
   </div>
   <!-- fine container-fluid -->

<div class="button-pos">
    <div>
      <button class="btn btn-success shadow p-2 mb-2" [routerLink]="['/prenotazione']">Concludi la Prenotazione</button>
    </div>
    <p></p>
    <div>
      <button class="btn btn-info shadow p-2 mb-2" [routerLink]="['/ristorante']">Prenota un ristorante</button>
    </div>
</div>

</body>
