
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center"><h3>LISTA COMUNI</h3></div>

    <div class=" col-md-6 col-lg-4 p-3 parte" *ngFor="let comune of comuni">
      <div class="card " >
        <div class="card-body">
          <img [src]="comune.urlFotoCity" alt="foto">
          <h5 class="card-title p-2 mb-2"> Comune =  {{ comune.nome }}</h5>
          <h5 class="card-subtitle p-2 mb-2 ">Provincia = {{ comune.provincia }}</h5>
        </div>

      <div >
        <div>
          <button class="btn btn-danger shadow p-2 mb-2" (click)="put(comune.idCity)" >Aggiungi Comune </button>
        </div>
         <p></p>
        <div>
          <button class="btn btn-danger shadow p-2 mb-2" [routerLink]="['/comune/' + comune.idCity]">Dettagli del Comune</button>
        </div>
      </div>

      </div>
    </div>
  </div>
  </div>


<div class="button-pos">
<div>
  <button class="btn btn-success p-3" [routerLink]="['/prenotazione']">Concludi la Prenotazione</button>
</div>
<div>
  <button class="btn btn-info p-3" [routerLink]="['/spiaggie']">Prenota Una Spiaggia</button>
</div>
</div>

</body>
