
<body>
  <div class="container-fluid">
    <div class="row">

      <div class="col-12 text-center"><h2>Dettagli Ristorante{{ ristorante.idRistorante }}</h2></div>
      <div class="col-12 ristorante p-3">
        <div class="card">
          <div class="card-body">
            <img  class="img-fluid" [src]="ristorante.urlFotoCucina" alt="foto">
            <h5 class="card-title p-2 mb-2"> Ristorante : {{ ristorante.nome }}</h5>
            <h5 class="card-subtitle p-2 mb-2 "> Indirizzo :  {{ ristorante.indirizzo }}</h5>
            <h5 class="card-subtitle p-2 mb-2 "> Tipo di cucina : {{ristorante.tipoCucina }}</h5>
            <h5 class="card-subtitle p-2 mb-2 "> Prenota ristorante : {{ristorante.prenotaRist }}</h5>
            <h5 class="card-subtitle p-2 mb-2 "> Prezzo a persona {{ ristorante.prezzoPersona }}</h5>
            <button class="btn btn-danger shadow p-2" [routerLink]="['/ristorante']">Ritorna Indietro</button>
          </div>
        </div>
      </div>

    </div>
  </div>
  </body>
